@import url('https://fonts.googleapis.com/css?family=Zalando+Sans+Expanded');

body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    width: 100%;
    height: 140px;
    background-color: #2F4538;
    box-sizing: border-box;
    padding-top: 48px;
    padding-bottom: 48px;
}
nav{
    width: 100%;
    height: auto;
    display: flex;
}
nav > img{
    margin-left: 80px;
    width: 186px;
    height: 43px;
}
header>nav > ul{
    display: flex;
    gap: 80px;
    justify-content: right;
    width: 100%;
    margin-right: 80px;
    margin-top: 0;
    margin-bottom: 0;
}
nav > ul > li{
    list-style-type: none;
}
nav > ul > li > a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: all 0.3s ease;
    font-size: 36px;
}
footer{
    width: 100%;
    height: 140px;
    background-color: #2F4538;
    box-sizing: border-box;
    padding-top: 48px;
    padding-bottom: 48px;
}
main{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin-bottom: 50px;
}
footer > nav > ul{
    display: flex;
    gap: 222px;
    justify-content: right;
    width: 100%;
    margin-right: 80px;
    margin-top: 0;
    margin-bottom: 0;
}
.logo{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.logo>img{
    height: 95px;
    width: 408px;
}
.form-input{
    margin-top: 60px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    font-size: 24px;
}
.input{
    width: 700px;
    height: 97px;
    padding-left: 20px;
    border-radius: 20px;
    border: none;
    font-size: 30px;
    background-color: #D9D9D9;
    margin-bottom: 20px;
}
.name{
    margin-bottom: 10px;
}
.colomn-button{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.colomn-button>button{
    width: 370px;
    height: 70px;
    font-size: 24px;
    border-radius: 20px;
    margin-bottom: 30px;
    border: none;
}
.login{
    background-color: #2F4538;
    color: white;
}
.login-guest{
    background-color: #D9D9D9;
}
.reg{
    background-color: white;
}
h1{
    margin: 80px;
    font-size: 48px;
}
.filters{
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 40px;
    margin: 0 80px 55px 80px;
}
.filters > div > img{
    width: 50px;
    height: 50px;
}
.cards{
    width: 100%;
    height: auto;
    padding: 0 80px;
    display: flex;
    box-sizing: border-box; 
    flex-wrap: wrap;
    justify-content: center;
    gap: 75px;
}
.card-catalog{
    height: 550px;
    width: 460px;
    background-color: #D9D9D9;
    border-radius: 20px;
    border: none;
    margin: 0 0 80px 0;
}
.slogan{
    background-image: url("img/banner.png");
    height: 880px;
    width: 100%;
    margin: 0;
    margin-bottom: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slogan > h1{
    margin: 0;
    color: white;
    font-size: 100px;
    font-family: 'Zalando Sans Expanded', sans-serif;
}
.categories{
    background-color: #2F4538;
    height: 900px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 400px;
}
.categories img{
    border-radius: 20px;
}
.categories-left{
    margin: 100px;
    border-radius: 20px;
}
.categories-left img{
    cursor: pointer;
}
.categories-right{
    margin-right: 100px;
}
.top-right{
    margin-bottom: 55px;
}
.right-bottom-left{
    display: flex;
    gap: 50px;
}
.top-card{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;

    margin-top: 80px;
}
.info-card{
    flex: 1;
    max-width: 600px;
    margin: 20px;
}
.img-card{
    flex: 1;
    max-width: 500px;
    width: 100%;
    margin: 40px;
}
.main-image{
    position: relative;
    display: inline-block;
}
.main-image img{
    width: 100%;
    height: auto;
    display: block;
    border-radius: 20px;
}
.slider-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    border-radius: 180px;
}
.prev{
    left: 10px;
}
.next{
    right: 10px;
}
.slider-container{
    position: relative;
    overflow: hidden;
}
.slider{
    display: flex;
    margin-top: 10px;
    gap: 10px;
}
.slide{
    cursor: pointer;
    width: 100px;
    flex-shrink: 0;
    opacity: 0.8;
    transition: 0.3s;
}
.slide img{
    border-radius: 20px;
    width: 100%;
    height: auto;
    display: block;
}
.price-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
.price{
    font-weight: bold;
    font-size: 30px;
}
.add-to-cart{
    cursor: pointer;
    left: 10px;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    color: white;
    font-size: 25px;
    background-color: #2F4538;
    border: none;
}
.reviews{
    width: 100%;
    max-width: 1200px;
    margin: 80px auto;
    
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.reviews-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
}
.review-card{
    flex: 1;
    min-width: 250px;
    max-width: 300px;
    background-color: #D9D9D9;
    padding: 20px;
    border-radius: 20px;
}


